@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white-bg dark:bg-dark-bg;
}
* {
  @apply transition-colors duration-300 ease-in-out;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}